Repository codeforsanjose/gitops, pull requests merged in 2024-02, with the labels that each got.

#7 `happeningatm-dev` ArgoCD Deployment
  argocd/happeningatm.yaml
  deployments/happeningatm/kubernetes/dev-values.yaml
Labels: argocd

#9 `happeningatm` Re-organize deployment directory structure
  argocd/happeningatm.yaml
  deployments/happeningatm/environments/dev/argocd/Chart.yaml
  deployments/happeningatm/environments/dev/argocd/templates/main.yaml
  deployments/happeningatm/environments/dev/argocd/values.yaml
  deployments/happeningatm/environments/prod/argocd/Chart.yaml
  deployments/happeningatm/environments/prod/argocd/templates/main.yaml
  deployments/happeningatm/environments/prod/argocd/values.yaml
  deployments/happeningatm/environments/prod/terraform/.terraform.lock.hcl
  deployments/happeningatm/environments/prod/terraform/app.tf
  deployments/happeningatm/environments/prod/terraform/main.tf
  deployments/happeningatm/environments/prod/terraform/variables.tf
  deployments/happeningatm/environments/stage/argocd/Chart.yaml
  deployments/happeningatm/environments/stage/argocd/templates/main.yaml
  deployments/happeningatm/environments/stage/argocd/values.yaml
  deployments/happeningatm/environments/stage/terraform/.terraform.lock.hcl
  deployments/happeningatm/environments/stage/terraform/app.tf
  deployments/happeningatm/environments/stage/terraform/main.tf
  deployments/happeningatm/environments/stage/terraform/variables.tf
  deployments/happeningatm/terraform/.terraform.lock.hcl
  deployments/happeningatm/terraform/doppler.tf
  deployments/happeningatm/terraform/ecr.tf
  deployments/happeningatm/terraform/main.tf
Labels: argocd, terraform, deez-nutz

#10 `happeningatm-prod` ArgoCD Deployment
  argocd/happeningatm.yaml
  deployments/happeningatm/environments/dev/argocd/Chart.yaml
  deployments/happeningatm/environments/prod/argocd/values.yaml
  deployments/happeningatm/environments/stage/argocd/Chart.yaml
Labels: argocd

#12 HeartOfTheValley deployment
  argocd/happeningatm.yaml
  argocd/heartofthevalley.yaml
  charts/heartofthevalley/Chart.yaml
  charts/heartofthevalley/templates/_backend.yaml
  charts/heartofthevalley/templates/_frontend.yaml
  charts/heartofthevalley/templates/_ingress.yaml
  charts/heartofthevalley/templates/_serviceaccount.yaml
  charts/heartofthevalley/templates/_vpa.yaml
  deployments/heartofthevalley/environments/prod/argocd/Chart.yaml
  deployments/heartofthevalley/environments/prod/argocd/templates/main.yaml
  deployments/heartofthevalley/environments/prod/argocd/values.yaml
  deployments/heartofthevalley/environments/prod/terraform/.terraform.lock.hcl
  deployments/heartofthevalley/environments/prod/terraform/app.tf
  deployments/heartofthevalley/environments/prod/terraform/main.tf
  deployments/heartofthevalley/environments/prod/terraform/variables.tf
  deployments/heartofthevalley/environments/stage/argocd/Chart.yaml
  deployments/heartofthevalley/environments/stage/argocd/templates/main.yaml
  deployments/heartofthevalley/environments/stage/argocd/values.yaml
  deployments/heartofthevalley/environments/stage/terraform/.terraform.lock.hcl
  deployments/heartofthevalley/environments/stage/terraform/app.tf
  deployments/heartofthevalley/environments/stage/terraform/main.tf
  deployments/heartofthevalley/environments/stage/terraform/variables.tf
  deployments/heartofthevalley/terraform/.terraform.lock.hcl
  deployments/heartofthevalley/terraform/doppler.tf
  deployments/heartofthevalley/terraform/ecr.tf
  deployments/heartofthevalley/terraform/main.tf
  terraform-modules/eks-app-doppler-integration/doppler.tf
  terraform-modules/eks-app-doppler-integration/variables.tf
Labels: argocd, terraform
